name: Go Release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:

  build-linux:
    name: Build on ubuntu-latest
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19
        cache: true

    - name: Install dependencies
      uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: libasound2-dev libgl1-mesa-dev libxcursor-dev libxi-dev libxinerama-dev libxrandr-dev libxxf86vm-dev 
        version: 1.0

    - name: Build (Linux)
      run: |
        go build -o out/bin/particlelifesim-linux cmd/particlelifesim/main.go

    - name: Build (Wasm)
      run: |
        GOOS=js GOARCH=wasm go build -tags wasm -o out/bin/particlelifesim.wasm cmd/particlelifesim/main.go

  build-macos:
    name: Build on macos-latest
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19
        cache: true

    - name: Build (macOS)
      run: |
        go build -o out/bin/particlelifesim-macos cmd/particlelifesim/main.go

  build-windows:
    name: Build on windows-latest
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19
        cache: true

    - name: Build (Windows)
      run: |
        go build -o out/bin/particlelifesim-windows cmd/particlelifesim/main.go

  releases:
    name: Release
    needs: [build-linux, build-macos, build-windows]
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        
    - run: git fetch --force --tags

    - name: Update CHANGELOG
      id: changelog
      uses: Requarks/changelog-action@v1
      with:
        token: ${{ github.token }}
        tag: ${{ github.ref_name }}
      
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        name: ${{ github.ref_name }}
        tag_name: ${{ github.ref_name }}
        body: ${{ steps.changelog.outputs.changes }}
        files: |
          out/bin/particlelifesim-linux
          out/bin/particlelifesim-macos
          out/bin/particlelifesim-windows
          out/bin/particlelifesim.wasm
      env:
        GITHUB_TOKEN: ${{ github.token }}
